/* Import fonts  */
@font-face {
  font-family: Headings;
  src: url("./fonts/BebasNeue.otf");
}
@font-face {
  font-family: Text;
  src: url("./fonts/TrebuchetMS.ttf");
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./img/pattern.png");
  overflow-x: hidden;
}

/* Header styles */
header {
  display: flex;
  color: #fff;
  flex-wrap: wrap;
  flex-grow: 1;
  background-color: #222;
  width: 100vw;
  height: 70px;
  align-items: center;
  justify-content: space-around;
  font-family: Headings;
}

.blog {
  display: flex;
  flex-wrap: wrap;
  background-color: #00b3ff;
  height: auto;
  align-items: center;
  padding: 5px 25px;
}

.blog h1 {
  font-size: 30px;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.blog i {
  animation: rotate 2s linear 0.3s infinite;
}

#menu {
  width: 25%;
}

#menu ul {
  display: flex;
  flex-grow: 1;
  list-style: none;
  justify-content: space-around;
}

#menu a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  font-size: 20px;
  padding: 20px;
  transition: all 0.3s ease;
}

#menu a:hover {
  background-color: #00b3ff;
}

/* Banner styles */
#banner {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  margin-top: 20px;
  background-image: url("./img/bakbaner.png");
  color: #fff;
  font-family: Headings;
  letter-spacing: 1px;
  text-align: center;
}

#banner h2 {
  font-size: 35px;
}

/* Cards style */
#cards {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  height: auto;
}

.card {
  display: inline-block;
  overflow: hidden;
  border: 1px solid rgba(225, 225, 226, 0.8);
  box-shadow: 0px 0px 10px #ccc;
  width: 283px;
  text-align: center;
  height: 320px;
  padding: 25px;
  margin-bottom: 10px;
  font-family: Text;
  color: #0e3c77;
  transition: all 0.3s;
  background-color: #fff;
}

.card:not(.card:last-child) {
  margin-right: 25px;
}

.card:hover {
  transform: translateY(-10px);
}

.card i {
  font-size: 50px;
  margin-bottom: 20px;
  color: black;
}

.card h3 {
  font-weight: bolder;
  font-size: 22px;
  margin-bottom: 20px;
}

.card p {
  font-size: 18px;
}

/* Main section styles */
#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  margin-top: 50px;
}

#news {
  flex-basis: 60%;
}

.title {
  font-family: Headings;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  background-color: #dbdbdb;
  padding: 10px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

#news .title {
  font-size: 25px;
  text-align: center;
}

.article-news {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  border-radius: 5px;
  padding: 0px 0px 10px 15px;
  font-family: Text;
}

.article-news .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.article-news .header h3 {
  color: #0e3c77;
  text-transform: capitalize;
  padding-top: 10px;
}

.article-news .header time {
  background-color: #616161;
  padding: 10px;
  color: #fff;
  border-bottom-left-radius: 5px;
}

/* Sidebar */
#sidebar {
  width: 20%;
  height: auto;
}

#sidebar .title {
  margin-bottom: 0;
}

.input {
  border: 1px solid #dbdbdb;
  padding: 7px;
  display: block;
  margin: 0 auto;
  width: 80%;
}

.icon {
  position: relative;
  left: 12%;
  top: 25px;
}

.login {
  margin-top: 20px;
}

form {
  margin: 15px 0;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 0px 10px #ccc;
  height: auto;
  background-color: #fff;
  padding: 0 20px 30px 20px;
  font-family: Text;
}

form .link {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #616161;
  transition: all 0.3s;
}

form .link:hover {
  color: #00b3ff;
  text-decoration: underline;
}

form input {
  text-indent: 20px;
}

form .link:first-of-type {
  margin-top: 15px;
}

.buttons {
  display: flex;
  margin-top: 15px;
  justify-content: space-evenly;
}

.btn {
  background-color: #00b3ff;
  color: #fff;
  padding: 10px 25px;
  border: 1px solid #dbdbdb;
  font-size: 17px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #0e3c77;
  box-shadow: 0px 0px 10px #ccc;
}

.social {
  width: 50%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 0px 10px #ccc;
  background-color: #fff;
  height: auto;
  padding: 10px 0 0 15px;
  font-size: 22px;
  position: relative;
}

.social i {
  display: block;
  margin-bottom: 10px;
  transition: all 0.3s;
  padding-right: 12px;
}

.social i:hover {
  transform: translateX(6px);
}

.social div:nth-child(1)>i:hover {
  color: #00b3ff;
}

.social div:nth-child(2)>i:hover {
  color: #c837ac;
}

.social div:nth-child(3)>i:hover {
  color: #1b70de;
}

.social div:nth-child(4)>i:hover {
  color: #ea0404;
}

.hide {
  position: absolute;
  top: 10px;
  font-size: 16px;
  font-family: Text;
  transition: all 0.3s;
  opacity: 0;
  z-index: -1;
}

.insta .hide {
  position: absolute;
  top: 42px;
}

.linkedin .hide {
    top: 74px;
}

.youtube .hide {
    top: 108px;
}

.social i:hover + .hide {
  opacity: 1;
  z-index: 1;
  transform: translateX(40px);
}

.colab {
  margin: 0 auto;
  margin-top: 15px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 0px 10px #ccc;
  width: 80%;
  height: 320px;
}

.blog-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin: 30px 0;
  width: 100%;
  background-color: #fff;
  font-family: Headings;
  font-size: 25px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  color: #0e3c77;
  letter-spacing: 2px;
}

/* Footer styles */
footer {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 30px;
  background-color: #000;
  flex-wrap: wrap;
}

.footer-container {
  flex-basis: 30%;
}

.menu ul {
  color: #fff;
  padding-left: 20px;
}

.menu li {
  margin-bottom: 20px;
  border-bottom: 1px solid #616161;
  padding-bottom: 7px;
}

.menu ul a {
  font-family: Text;
  font-size: 18px;
  text-decoration: none;
  color: #00b3ff;
  padding: 5px;
  transition: all 0.3s;
}

.menu ul a:hover {
  color: #fff;
}

.location iframe {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.developed img {
  display: block;
  margin: 0 auto;
  width: 250px;
  margin-bottom: 20px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.images img {
  margin: 0 5px 20px;
  width: 50px;
  height: 50px;
}

/* Animations */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.created-by p {
  font-family: Text;
  text-align: center;
  color: #fff;
}

/* Responsive */
@media (max-width: 1600px) {
  .card {
    width: 215px;
  }
}

@media (max-width: 1100px) {
  .card {
    width: 45%;
  }

  .buttons {
    flex-flow: column wrap;
  }

  .btn {
    margin-bottom: 7px;
  }
}

@media (max-width: 730px) {
  header {
    justify-content: flex-start;
  }

  #menu ul {
    display: none;
  }

  .blog {
    margin-left: 30px;
  }

  #banner h2 {
    font-size: 25px;
  }

  #main {
    padding: 20px;
  }

  #news,
  #sidebar {
    flex-basis: 60%;
    flex-grow: 1;
  }

  .images img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 620px) {
  #banner h2 {
    font-size: 20px;
  }

  .card {
    width: 100%;
  }

  .footer-container {
    flex-basis: 100%;
    flex-grow: 1;
  }
}
