/* Importando fuentes */
@font-face {
  font-family: HeaderFont;
  src: url("./fonts/nevis.ttf");
}

@font-face {
  font-family: MainFont;
  src: url("./fonts/FjallaOne-Regular.ttf");
}

@font-face {
  font-family: IconFont;
  src: url("./fonts/websymbols-regular-webfont.ttf");
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./img/paven.png");
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 250px;
}

header img {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  margin-top: 10px;
  display: block;
}

header h1 {
  font-family: HeaderFont;
  text-transform: uppercase;
  color: #71b053;
  text-shadow: 1px 1px 1px #000, 1px 1px 1px #000;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 15px;
  font-size: 45px;
}

nav,
footer {
  background-color: #282828;
  width: 100%;
  text-align: center;
}

nav ul li {
  display: inline-block;
  list-style: none;
  border-right: 1px solid #959595;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}

nav ul li:hover {
  background-color: #71b053;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  font-weight: lighter;
}

strong {
  font-family: IconFont;
}

main {
  width: 70%;
  display: block;
  float: right;
}

.container {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.container a {
  color: #598a41;
  display: block;
  float: right;
}

.noticias {
  background-color: #fff;
  margin: 50px 0;
  padding: 25px;
  box-shadow: 2px 2px 7px 2px black;
}

.noticias h2 {
  font-family: MainFont;
  border-bottom: 1px solid #cecece;
  padding-bottom: 10px;
  text-align: center;
  letter-spacing: 2px;
}

#front h2 {
  color: #282828;
}

#back h2 {
  color: #953030;
}

#instructor h2 {
  color: #e6a83e;
}

#instructor {
  margin-bottom: 15px;
}

article {
  margin: 20px 0;
}

article time {
  color: #858585;
}

article p {
  text-align: justify;
}

article p span {
  color: #598a41;
}

.imagenes {
  width: 90%;
  position: absolute;
}

#cintas1 {
  top: 330px;
}

#cintas2 {
  top: 1225px;
}

#cintas3 {
  top: 2120px;
}

.imagenes .cinta2 {
  position: relative;
  left: 63%;
}

#lateral a {
  text-decoration: none;
  color: #598a41;
}

.lateral_container,
blockquote {
  margin-left: 250px;
  margin-top: 40px;
  background-color: #fff;
  width: 12%;
  box-shadow: 1px 1px 10px 1px black;
  padding-bottom: 20px;
}

.lateral_container .aulas {
  padding: 20px;
  border-bottom: 3px dotted #b6b6b6;
}

.lateral_container .aulas h3 {
  background-color: #dbdada;
  text-align: center;
  margin-bottom: 15px;
}

.lateral_container .aulas #sub1,
.lateral_container .aulas #sub4 {
  color: #282828;
}
.lateral_container .aulas #sub2 {
  color: #0083fd;
}
.lateral_container .aulas #sub3 {
  color: #953030;
}

.lateral_container .aulas label,
.lateral_container .aulas input {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.lateral_container .aulas input:not(input[type="submit"]) {
  border: 1px solid #b3b3b3;
  width: 100%;
  padding: 3px;
  margin-bottom: 5px;
}

.lateral_container .aulas input[type="submit"] {
  background-color: #598a41;
  padding: 7px 15px;
  color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
}

.lateral_container .aulas input[type="submit"]:hover {
  background-color: #71b053;
}

.links a {
  display: block;
}

.links a:first-child {
  margin-top: 12px;
}

.lateral_container .aulas ul li {
  list-style: square;
  margin-left: 15px;
  margin-bottom: 10px;
}

blockquote {
  padding: 10px;
}

.clearfix {
  float: none;
  clear: both;
}

footer {
  margin-top: 40px;
  color: #fff;
  padding: 20px;
}
